.search-container {
    text-align: center;
}

.logo-container {
    margin-bottom: 30px;
    margin-top: 100px;
}

.search-results-input {
    margin-top: 1rem;
}

.rating-container {
    text-align: center;
}

.nav-auth {
    display: inherit;
}

.vote {
    cursor: pointer;
}

.vote-up:hover {
    color: green;
}

.vote-down:hover {
    color: red;
}

.pagination li {
    list-style: none;
}

.pagination {
    width: 720px
}

.pdf-page {
    position: relative;
    margin: 0 auto 3em auto;
    padding: 0;
    overflow: visible;
    background-clip: content-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.54);
    background-color: white;
}